
<div class="container">
  <h1>Welcome to Alexa Quiz!</h1>
  <p>Hello, world!</p>

  <form action= "/" method="post">
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form>

  <form action= '/teacher/new' method= get>
    <p>New to Alexa Quiz?</p>
    <input type="submit" value="Create a new account">
  </form>
</div>
